<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frenzy</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="./public/css/shared.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center"
            ><img src="/img/frenzyyellow.png"
          /></a>
          <ul class="right">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/workouts">Workout Builder</a></li>
            <li><a href="/profile">Profile</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <h1>placeholder</h1>
      <div class="container">
        <h1 class="mt-5 mb-5 text-center text-primary">
          <b>Login System in Node.js Express</b>
        </h1>

        <div class="row mt-5">
          <div class="col-md-3">&nbsp;</div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">Login</div>
              <div class="card-body">
                <form method="post" action="/login">
                  <div class="mb-3">
                    <label>Email Address</label>
                    <input
                      type="email"
                      name="user_email_address"
                      class="form-control"
                    />
                  </div>
                  <div class="mb-3">
                    <label>Password</label>
                    <input
                      type="password"
                      name="user_password"
                      class="form-control"
                    />
                  </div>
                  <div class="mb-3">
                    <input
                      type="submit"
                      class="btn btn-primary"
                      value="Login"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="page-footer">
      <div class="container">
        <div>
          <div class="col l6 s12"></div>
          <div class="col l4 offset-l2 s12">
            <h5>Links</h5>
            <ul class="row">
              <li><a href="#!">Home</a></li>
              <li><a href="#!">How It Works</a></li>
              <li><a href="#!">Contact</a></li>
              <li><a href="#!">Terms and Conditions</a></li>
              <li><a href="#!">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">&copy;2023 FRENZY, All Rights Reserved</div>
      </div>
    </footer>
  </body>
</html>
