label {
  font-family: inherit;
  color: rgb(31, 30, 30);
  font-weight: 600;
  font-size: 1.5em;
}

select {
  display: inline;
  font-family: inherit;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

button {
  font-size: 16px;
  font-weight: 300;
  font-family: inherit;
  padding: 20px;
  background-color: #2e220b;
  color: white;
  cursor: pointer;
  border: none;
  height: 2em;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

button::selection {
  background-color: #4b3712;
}

button:hover {
  background-color: #4b3712;
}

#search-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.search-result {
  overflow: hidden;
}

.scene {
  display: inline-block;
  width: 350px;
  height: 400px;
  perspective: 600px;
  overflow: scroll;
    margin: 10px 15px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.446);
  /* margin: 10px 15px; */
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  font-size: 2em;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 200px;
  color: black;
  text-align: center;
  font-size: 40px;
  backface-visibility: hidden;
  background-color: rgba(255, 255, 255, 0.446);
}

.card__face--front {
  transform: rotateY(0deg);
}

.card__face--back {
  transform: rotateY(180deg);
  overflow-y: scroll;
  font-size: 12px;
}

@media (max-width: 675px) {
  #search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* .search-result {
    width: 300px;
    height: 450px;
    margin: 0.3em;
    padding: 0.3em;
  } */

  label {
    font-size: 1em;
  }

  select {
    height: 2em;
    width: 6em;
  }

  button {
    font-size: 16px;
    padding: 15px;
    height: 1em;
    margin: 0.5em;
  }
}

@media (min-width: 676px) and (max-width: 1300px) {
  #search-results {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
  }

  /* .search-result {
    width: 320px;
    height: 500px;
    margin: 0.5em;
    padding: 0.5em;
  } */
}